# Скомпилированные файлы
*.exe
*.o
*.obj
*.out
/main
*.dSYM/

# VSC файлы какие-то
.vs/
.vscode/
*.sln
*.vcxproj*

# Это я так понял только на MacOS, нейронка сказала
.DS_Store

# Генерируемые программой файлы
output.txt
diary.txt